<sidebar id="sidebar-filter" ng-form="movieFilterForm" is-open="MovieFilterService.settings.isOpen"
         wrapper-element-id="#main-content"
         class="sidebar"
         ng-init="init()"
         ng-submit="filterOnSubmit()"
         ng-keyup="filterOnChange()">
    <div class="sidebar-wrapper">
        <uib-accordion class="sidebar-content" close-others="false">

            <uib-accordion-group class="row sidebar-row" is-open="MovieFilterService.settings.titleIsExpanded">
                <uib-accordion-heading>
                    <h4 class="col-xs-1">
                        <i class="glyphicon"
                           ng-class="{'glyphicon glyphicon-minus': MovieFilterService.settings.titleIsExpanded,
                           'glyphicon glyphicon-plus': !MovieFilterService.settings.titleIsExpanded}"></i>
                    </h4>
                    <h4 class="col-xs-11">title</h4>
                </uib-accordion-heading>
                <div class="col-xs-12 col-xs-offset-1">
                    <input type="text" class="form-control" ng-model="MovieFilterService.data.title">
                </div>
            </uib-accordion-group>

            <uib-accordion-group class="row sidebar-row" is-open="MovieFilterService.settings.createdIsExpanded">
                <uib-accordion-heading>
                    <h4 class="col-xs-1">
                        <i class="glyphicon"
                           ng-class="{'glyphicon glyphicon-minus': MovieFilterService.settings.createdIsExpanded,
                           'glyphicon glyphicon-plus': !MovieFilterService.settings.createdIsExpanded}"></i>
                    </h4>
                    <h4 class="col-xs-11">created</h4>
                </uib-accordion-heading>
                <div class="col-xs-12 col-xs-offset-1">
                    <div class="col-xs-6">
                        <label class="control-label">from</label>
                        <date-input ng-model="MovieFilterService.data.createdFrom"
                                    popup-placement="bottom-left"></date-input>
                    </div>
                    <div class="col-xs-6">
                        <label class="control-label">to</label>
                        <date-input ng-model="MovieFilterService.data.createdTo"
                                    popup-placement="bottom-right"></date-input>
                    </div>
                </div>
            </uib-accordion-group>


            <uib-accordion-group class="row sidebar-row" is-open="MovieFilterService.settings.lastModifiedIsExpanded">
                <uib-accordion-heading>
                    <h4 class="col-xs-1">
                        <i class="glyphicon"
                           ng-class="{'glyphicon glyphicon-minus': MovieFilterService.settings.lastModifiedIsExpanded,
                           'glyphicon glyphicon-plus': !MovieFilterService.settings.lastModifiedIsExpanded}"></i>
                    </h4>
                    <h4 class="col-xs-11">last modified</h4>
                </uib-accordion-heading>
                <div class="col-xs-12 col-xs-offset-1">
                    <div class="col-xs-6">
                        <label class="control-label">from</label>
                        <date-input ng-model="MovieFilterService.data.lastModifiedFrom"
                                    popup-placement="bottom-left"></date-input>
                    </div>
                    <div class="col-xs-6">
                        <label class="control-label">to</label>
                        <date-input ng-model="MovieFilterService.data.lastModifiedTo"
                                    popup-placement="bottom-right"></date-input>
                    </div>
                </div>
            </uib-accordion-group>

            <uib-accordion-group class="row sidebar-row" is-open="MovieFilterService.settings.yearIsExpanded">
                <uib-accordion-heading>
                    <h4 class="col-xs-1">
                        <i class="glyphicon"
                           ng-class="{'glyphicon glyphicon-minus': MovieFilterService.settings.yearIsExpanded,
                           'glyphicon glyphicon-plus': !MovieFilterService.settings.yearIsExpanded}"></i>
                    </h4>
                    <h4 class="col-xs-11">year</h4>
                </uib-accordion-heading>
                <div class="col-xs-12 col-xs-offset-1">
                    <div class="col-xs-6">
                        <label class="control-label">from</label>
                        <year-input ng-model="MovieFilterService.data.yearFrom"
                                    popup-placement="bottom-left"></year-input>
                    </div>
                    <div class="col-xs-6">
                        <label class="control-label">to</label>
                        <year-input ng-model="MovieFilterService.data.yearTo"
                                    popup-placement="bottom-right"></year-input>
                    </div>
                </div>
            </uib-accordion-group>

            <uib-accordion-group class="row sidebar-row" is-open="MovieFilterService.settings.averageRatingIsExpanded">
                <uib-accordion-heading>
                    <h4 class="col-xs-1">
                        <i class="glyphicon"
                           ng-class="{'glyphicon glyphicon-minus': MovieFilterService.settings.averageRatingIsExpanded,
                           'glyphicon glyphicon-plus': !MovieFilterService.settings.averageRatingIsExpanded}"></i>
                    </h4>
                    <h4 class="col-xs-11">average rating</h4>
                </uib-accordion-heading>
                <div class="col-xs-12 col-xs-offset-1">
                    <div class="col-xs-6">
                        <label class="control-label">from</label>
                        <div class="input-group pull-right form-group">
                            <number-input ng-model="MovieFilterService.data.averageRatingFrom" min="0" max="10"
                                          step="0.5"></number-input>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <label class="control-label">to</label>
                        <div class="input-group pull-right form-group">
                            <number-input ng-model="MovieFilterService.data.averageRatingTo" min="0" max="10"
                                          step="0.5"></number-input>
                        </div>
                    </div>
                </div>
            </uib-accordion-group>

            <uib-accordion-group class="row sidebar-row"
                                 is-open="MovieFilterService.settings.genresAndActorsIsExpanded">
                <uib-accordion-heading>
                    <h4 class="col-xs-1">
                        <i class="glyphicon"
                           ng-class="{'glyphicon glyphicon-minus': MovieFilterService.settings.genresAndActorsIsExpanded,
                           'glyphicon glyphicon-plus': !MovieFilterService.settings.genresAndActorsIsExpanded}"></i>
                    </h4>
                    <h4 class="col-xs-11" ng-if="!MovieFilterService.settings.genresAndActorsIsExpanded">genres &
                        actors</h4>
                    <h4 class="col-xs-6" ng-if="MovieFilterService.settings.genresAndActorsIsExpanded">genres</h4>
                    <h4 class="col-xs-5" ng-if="MovieFilterService.settings.genresAndActorsIsExpanded">actors</h4>
                </uib-accordion-heading>
                <div class="col-xs-12 col-xs-offset-1">
                    <div class="col-md-6">
                        <string-checklist class="filter-checklist"
                                          values="genres"
                                          ng-model="MovieFilterService.data.genres"></string-checklist>
                    </div>
                    <div class="col-md-6">
                        <string-checklist class="filter-checklist"
                                          values="actors"
                                          ng-model="MovieFilterService.data.actors"></string-checklist>
                    </div>
                </div>
            </uib-accordion-group>

            <uib-accordion-group class="row sidebar-row"
                                 is-open="MovieFilterService.settings.tagsIsExpanded">
                <uib-accordion-heading>
                    <h4 class="col-xs-1">
                        <i class="glyphicon"
                           ng-class="{'glyphicon glyphicon-minus': MovieFilterService.settings.tagsIsExpanded,
                           'glyphicon glyphicon-plus': !MovieFilterService.settings.tagsIsExpanded}"></i>
                    </h4>
                    <h4 class="col-xs-11">tags</h4>
                </uib-accordion-heading>
                <div class="col-xs-12 col-xs-offset-1">
                    <string-checklist class="filter-checklist"
                                      values="tags"
                                      ng-model="MovieFilterService.data.tags"></string-checklist>
                </div>
            </uib-accordion-group>
        </uib-accordion>

        <div class="sidebar-bottom">
            <div class="pull-right">
                <button type="button" class="btn btn-danger"
                        ng-click="filterOnClose()">
                    <span class="glyphicon glyphicon-remove"></span> Close
                </button>
                <button type="button" class="btn btn-danger"
                        ng-click="filterOnClear()">
                    <span class="glyphicon glyphicon-ban-circle"></span> Clear
                </button>
                <button type="submit" class="btn btn-primary"
                        ng-click="filterOnSubmit()">
                    <span class="glyphicon glyphicon-filter"></span> Filter
                </button>
            </div>
        </div>
    </div>

</sidebar>