@font-face {
    font-family: "TOXIA";
    src: url("../fonts/TOXIA.ttf");
}

@font-face {
    font-family: "Distortion";
    src: url("../fonts/Distortion.ttf");
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: black;
    color: white;
    font-family: "TOXIA", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.modal {
    color: #777;
}

.view-main {
    height: 100%;
}

.text-muted {
    color: #777;
}

.text-primary {
    color: #E2001A;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: #E2001A;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #E2001A;
}

.form-control:focus {
    border-color: #E2001A;
    border-top-color: rgb(226, 0, 26);
    border-right-color: rgb(226, 0, 26);
    border-bottom-color: rgb(226, 0, 26);
    border-left-color: rgb(226, 0, 26);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(245, 46, 69, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(245, 46, 69, .6);
}

.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: #f7f7f7;
}

.bg-darkest-gray {
    background-color: #222;
}

.btn-primary {
    border-color: #E2001A;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    background-color: #E2001A;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #E2001A;
    color: #fff;
    background-color: #E2001A;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #E2001A;
    background-color: #E2001A;
}

.btn-primary .badge {
    color: #E2001A;
    background-color: #fff;
}

.btn-xl {
    padding: 20px 40px;
    border-color: #E2001A;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #E2001A;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: #E2001A;
    color: #fff;
    background-color: #E2001A;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: #E2001A;
    background-color: #E2001A;
}

.btn-xl .badge {
    color: #E2001A;
    background-color: #fff;
}

.navbar-default {
    border-color: transparent;
    background-color: #222;
}

.nav-bar-logo {
    height: 100%;
}

.navbar-default .navbar-brand {
    color: #E2001A;
    float: left;
    height: 50px;
    padding: 3px 3px;
    margin: 3px 3px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #E2001A;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255, 255, 255, .02);
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    color: white;
    background-color: transparent;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #E2001A;
}

.navbar-default .navbar-nav > .active > a {
    border-radius: 0;
    color: #fff;
    background-color: #E2001A;
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #E2001A;
}

@media (min-width: 768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        height: 80px;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav > .active > a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #222;

    }

    .navbar-default.navbar-shrink .navbar-brand {
        height: 50px;
    }
}

header {
    height: 100%;
    text-align: center;
    width: 100%;
    min-height: inherit;
    background-image: url(../img/header-bg.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}

@media (min-width: 768px) {

    header {
        min-height: 100%;
    }

    header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }

    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
    }

    header .intro-text .intro-heading {
        margin-bottom: 50px;
        text-transform: uppercase;
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
    }
}

section {
    padding: 100px 0;
}

section h2.section-heading {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 40px;
}

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

@media (min-width: 768px) {
    section {
        padding: 150px 0;
    }
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.pager li > a,
.pager li > span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
}

.pager li > a:hover,
.pager li > a:focus {
    text-decoration: none;
    background-color: #FFFFFF;
}

.pager .next > a,
.pager .next > span {
    float: right;
}

.pager .previous > a,
.pager .previous > span {
    float: left;
}

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #E2001A;
    border-color: #E2001A;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    z-index: 2;
    color: #E2001A;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > li > a,
.pagination > li > span {
    color: black;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

.tooltip-error .tooltip-inner {
    background-color: #E2001A;
    color: #fff;
}

.tooltip-error .tooltip.top .tooltip-arrow {
    border-top-color: #E2001A;
}

.tooltip-error .tooltip.right .tooltip-arrow {
    border-right-color: #E2001A;
}

.tooltip-error .tooltip.bottom .tooltip-arrow {
    border-bottom-color: #E2001A;
}

.tooltip-error .tooltip.left .tooltip-arrow {
    border-left-color: #E2001A;
}

.ng-table th {
    text-align: left;
}

.ng-table th.sortable.sort-desc, .ng-table th.sortable.sort-asc {
    background-color: transparent;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

.table > thead > tr > td.active, .table > tbody > tr > td.active, .table > tfoot > tr > td.active, .table > thead > tr > th.active, .table > tbody > tr > th.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > tbody > tr.active > td, .table > tfoot > tr.active > td, .table > thead > tr.active > th, .table > tbody > tr.active > th, .table > tfoot > tr.active > th {
    background-color: #777;
}

.table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border: none;
    vertical-align: middle;
}

.icon-links {
    word-spacing: 15px;
}


