.movie-search {
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}

.img-movie-search {
    display: inline-block;
    text-align: center;
    height: 100px;
    width: auto;
    min-width: 40px;
}

.img-movie-gallery {
    display: inline-block;
    text-align: center;
    height: 300px;
    width: auto;
    min-width: 200px;
}

.img-movie-col {
    display: inline-block;
    text-align: center;
    height: auto;
    width: 100%;
    min-width: 40px;
}

.text-movie-search {
    font-size: 30px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    padding-left: 15px;
}

.content-wrapper {
    text-align: center;
}

.caption-outer {
    height: 20px;
    text-overflow: ellipsis;
}

.caption-innner {
    text-overflow: ellipsis;
}

.movie-caption {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 20px;
    padding-right: 20px;
}

.movie-caption-full {
    text-align: center;
    overflow-wrap: break-word;
    padding-left: 20px;
    padding-right: 20px;
}

.img-wrapper {
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    display: inline-block;
}

.img-movie-poster-xs {
    height: 100px;
    width: auto;
}

.img-movie-poster-sm {
    height: 150px;
    width: auto;
}

.img-movie-poster-md {
    height: 300px;
    width: auto;
}

.img-movie-poster-lg {
    height: 420px;
    width: auto;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
}

.own-rating {
    color: deeppink;
}

.average-rating {
    color: yellow;
}

.badge-notify {
    position: relative;
    top: -15px;
    left: -30px;
}

.btn-watched {
    font-size: 30px;
    font-weight: normal;
    color: #337ab7;
    border-radius: 0;
}

.btn-watched,
.btn-watched:active,
.btn-watched.active,
.btn-watched[disabled],
fieldset[disabled] .btn-watched {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-watched:hover,
.btn-watched:focus {
    color: #23527c;
    text-decoration: underline;
    background-color: transparent;
}

.btn-watched[disabled]:hover,
fieldset[disabled] .btn-watched:hover,
.btn-watched[disabled]:focus,
fieldset[disabled] .btn-watched:focus {
    color: #777;
    text-decoration: none;
}

.btn-watched:active:hover,
.btn-watched:active, .btn-watched.active, .open > .dropdown-toggle.btn-watched,
.btn-watched.active:hover, .open > .dropdown-toggle.btn-watched:hover,
.btn-watched:active:focus, .btn-watched.active:focus, .open > .dropdown-toggle.btn-watched:focus, .btn-watched:active.focus, .btn-watched.active.focus, .open > .dropdown-toggle.btn-watched.focus {
    color: green;
    background-color: transparent;
    border-color: transparent;
}

.btn-watched,
.btn-watched:hover,
.btn-watched:focus,
.btn-watched:active:focus,
.btn-watched.active:focus,
.btn-watched.focus,
.btn-watched:active.focus,
.btn-watched.active.focus {
    border-color: transparent;
    outline: 0px none transparent;
    outline-color: transparent;
    outline-style: none;
    outline-width: 0px;;
}

.pull-absolute-right {
    position: absolute;
    right: 0px;
    cursor: pointer;
}

.movie-row {
    padding-bottom: 40px;
    padding-left: 0px;
    padding-right: 0px;
}

.movie-list-row {
    padding-bottom: 25px;
}

.movie-list-movie {
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.movie-list-title {
    font-size: 20px;
}

.movie-list-carousel {
    display: block;
    height: 100px;
    width: auto;
}

.movie-list-carousel .carousel-indicators {
    display: none;
}

.movie-list-carousel .carousel-inner > .item > img, .movie-list-carousel .carousel-inner > .item > a > img {
    height: 100px;
}

.movie-list-movie .remove {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.movie-list-movie .remove button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}