.img-movie-gallery {
    display: inline-block;
    text-align: center;
    max-height: 300px;
}

.content-wrapper {
    text-align: center;
}

.caption-outer {
    height: 20px;
    text-overflow: ellipsis;
}

.caption-innner {
    text-overflow: ellipsis;
}

.movie-caption {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 20px;
    padding-right: 20px;
}

.movie-caption-full {
    text-align: center;
    overflow-wrap: break-word;
    padding-left: 20px;
    padding-right: 20px;
}

.img-wrapper {
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    display: inline-block;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.badge-notify {
    position: relative;
    top: -15px;
    left: -30px;
}

.btn-watched {
    font-size: 30px;
    font-weight: normal;
    color: #337ab7;
    border-radius: 0;
}

.btn-watched,
.btn-watched:active,
.btn-watched.active,
.btn-watched[disabled],
fieldset[disabled] .btn-watched {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-watched:hover,
.btn-watched:focus {
    color: #23527c;
    text-decoration: underline;
    background-color: transparent;
}

.btn-watched[disabled]:hover,
fieldset[disabled] .btn-watched:hover,
.btn-watched[disabled]:focus,
fieldset[disabled] .btn-watched:focus {
    color: #777;
    text-decoration: none;
}

.btn-watched:active:hover,
.btn-watched:active, .btn-watched.active, .open > .dropdown-toggle.btn-watched,
.btn-watched.active:hover, .open > .dropdown-toggle.btn-watched:hover,
.btn-watched:active:focus, .btn-watched.active:focus, .open > .dropdown-toggle.btn-watched:focus, .btn-watched:active.focus, .btn-watched.active.focus, .open > .dropdown-toggle.btn-watched.focus {
    color: green;
    background-color: transparent;
    border-color: transparent;
}

.btn-watched,
.btn-watched:hover,
.btn-watched:focus,
.btn-watched:active:focus,
.btn-watched.active:focus,
.btn-watched.focus,
.btn-watched:active.focus,
.btn-watched.active.focus {
    border-color: transparent;
    outline: 0px none transparent;
    outline-color: transparent;
    outline-style: none;
    outline-width: 0px;;
}

.pull-absolute-right {
    position: absolute;
    right: 0px;
    cursor: pointer;
}

.movie-row {
    padding-bottom: 40px;
    padding-left: 0px;
    padding-right: 0px;
}
