<form name="searchForm"
      class="searchbar"
      ng-controller="SearchbarTextCtrl"
      ng-show="SearchbarService.show"
      ng-init="init()"
      ng-submit="searchOnSubmit()"
      ng-keyup="searchOnChange()">
    <div class="form-group" style="display:inline;">
        <div class="input-group" style="display:table;">
            <input type="text" class="form-control" placeholder="Search..."
                   focus-on-set-visible="true"
                   ng-model="SearchbarService.data.searchText"
                   ng-style="{'visibility': SearchbarService.settings.isOpen?'visible':'hidden'}">
            <span class="input-group-btn" style="width:1%;">
                <a class="btn btn-searchbar" type="button"
                   ng-click="searchOnOpen()"
                   ng-show="!SearchbarService.settings.isOpen">
                    <span class="glyphicon glyphicon-search">
                    <span class="sr-only">Search</span>
                    </span>
                </a>
                <a class="btn btn-searchbar" type="submit"
                   ng-click="searchOnSubmit()"
                   ng-show="SearchbarService.settings.isOpen">
                    <span class="glyphicon glyphicon-search">
                    <span class="sr-only">Search</span>
                    </span>
                </a>

                <a class="btn btn-searchbar" type="button"
                   ng-click="searchOnClosed()"
                   ng-show="SearchbarService.settings.isOpen">
                    <span class="glyphicon glyphicon-remove">
                        <span class="sr-only">Close Search</span>
                    </span>
                </a>
            </span>

        </div>
    </div>
</form>