<!DOCTYPE html>
<html lang="en" ng-app="myApp" class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Trashbay.org</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">

    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="bower_components/angular-loading-bar/build/loading-bar.css" rel="stylesheet">
    <link href="bower_components/ng-tags-input/ng-tags-input.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/note.css" rel="stylesheet">
    <link href="css/movie.css" rel="stylesheet">
    <link href="css/taginput.css" rel="stylesheet">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
</head>
<body id="page-top" class="index">
<!-- Has to be included first, to hide the rest of the screen-->
<div ng-controller="SplashScreenCtrl" ng-hide="hideScreen" class="loading vertical-center fade-in-out"
     ng-init="onInit()">
    <div class="text-center ">
        <img class="img-responsive" src="img/logo/LogoFont.png">
        <i class="fa fa-spinner fa-spin fa-5x img-responsive text-primary"></i>
    </div>
</div>

<!--
<ng-include src="'./navigation/navigation.html'" autoscroll="true"></ng-include>
-->
<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavigationCtrl">

    <!-- display when logged in -->
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top" du-smooth-scroll>Trashbay!</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="page-scroll" ng-repeat="element in navigationElements()">
                    <a href="" ng-click="element.clickHandler()">
                        {{element.caption}}
                    </a>
                    <!--
                    <a ng-click="element.clickHandler()"
                      ng-attr-ui-sref="{{ element.goToState ? element.goToState : 'landingpage' }}">{{element.caption}}</a>
                      -->
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->


<!--<div ng-view class="view-animate" autoscroll></div>-->
<div ui-view="main" class="view-animate" autoscroll></div>

<ng-include src="'./sections/footer/footer.html'"></ng-include>


<!-- External Dependencies JavaScript -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/jquery.easing/js/jquery.easing.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/restangular/dist/restangular.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/ng-tags-input/ng-tags-input.js"></script>
<script src="bower_components/angular-scroll/angular-scroll.js"></script>
<script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>

<!-- Custom Extensions JavaScript -->
<script src="sections/header/cbpAnimatedHeader.js"></script>

<!-- Custom Angular-Extensions JavaScript -->
<script src="app.js"></script>
<script src="config.js"></script>
<script src="directives/directives.js"></script>

<script src="services/services.js"></script>
<script src="services/authentication/basic-authentication-service.js"></script>
<script src="services/authentication/authentication-service.js"></script>
<script src="services/favicon/favicon-service.js"></script>
<script src="services/navigation/navigation.js"></script>
<script src="services/navigation/navigation-service.js"></script>
<script src="services/navigation/navigation-history.js"></script>
<script src="services/splashscreen/splash-screen.js"></script>
<script src="services/login/login.js"></script>

<script src="errors/error.js"></script>
<script src="errors/error-handler.js"></script>
<script src="errors/api-is-offline-error.js"></script>
<script src="errors/vestigal-error.js"></script>
<script src="errors/validation-error.js"></script>
<script src="errors/not-authorized-error.js"></script>

<script src="models/models.js"></script>
<script src="models/helper/api-manager-util.js"></script>
<script src="models/user/user.js"></script>
<script src="models/user/user-repository.js"></script>
<script src="models/note/note.js"></script>
<script src="models/note/note-repository.js"></script>
<script src="models/category/category-repository.js"></script>
<script src="models/movie/movie.js"></script>
<script src="models/movie/movie-repository.js"></script>
<script src="models/movie/movie-short.js"></script>
<script src="models/movie/movie-database-repository.js"></script>

<script src="sections/home/home.js"></script>
<script src="sections/landingpage/landingpage.js"></script>
<script src="sections/note/note.js"></script>
<script src="sections/movie/movie.js"></script>
<script src="sections/movie/add-movie/add-movie.js"></script>
<script src="sections/movie/update-movie/update-movie.js"></script>
</body>