<div class="container" ng-init="init()">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">
                Users
            </h2>
        </div>
    </div>
    <div class="row form-horizontal">
        <div class="col-md-6 col-md-offset-3">
            <table ng-table="tableParams" class="table" show-filter="false">
                <tr ng-repeat="user in $data" ng-form="userForm[$index]"
                    ng-show="user._id != currentUserId"
                    ng-init="userForm[$index].whileEditing = false"
                    ng-class="{'active': userForm[$index].whileEditing}">
                    <!-- Loading -->
                    <td class="col-md-5" ng-if="userForm[$index].whileLoading">
                    </td>
                    <td class="col-md-3" ng-if="userForm[$index].whileLoading">
                        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                    </td>
                    <!-- End Loading -->
                    <!-- Data -->
                    <td class="col-md-5" ng-if="!userForm[$index].whileLoading" title="'mail'" sortable="'email'">
                        <span>{{user.email}}</span>
                    </td>
                    <td class="col-md-3" ng-if="!userForm[$index].whileLoading" title="'role'" sortable="'role'">
                        <input ng-show="userForm[$index].whileEditing" type="text" ng-model="user.role"
                               class="form-control input-sm" required/>
                        <span ng-show="!userForm[$index].whileEditing">{{user.role}}</span>
                    </td>
                    <!-- End Data -->
                    <td class="col-md-4">
                    <span class="pull-right">
                        <a class="icon-links" ng-show="userForm[$index].whileEditing" href="" title="delete"
                           ng-click="deleteUser(user, $data, $index, userForm[$index])">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                        <a class="icon-links" ng-show="userForm[$index].whileEditing" href="" title="save"
                           ng-click="updateUser(user, userForm[$index])">
                            <i class="glyphicon glyphicon-ok"></i>
                        </a>
                        <a class="icon-links" ng-show="userForm[$index].whileEditing" href="" title="cancel">
                            <i ng-click="userForm[$index].whileEditing = false"
                               class="glyphicon glyphicon-remove"></i>
                        </a>
                        <a class="icon-links" ng-show="!userForm[$index].whileEditing" href="" title="edit">
                            <i ng-click="userForm[$index].whileEditing = true" class="glyphicon glyphicon-edit"></i>
                        </a>
                    </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>