<!-- Notes Section -->
<section id="movies">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">
                    Movies
                </h2>
            </div>
        </div>
        <div class="row">
            <div ng-repeat="movie in movies">

                <div class="col-md-12 movie-row" ng-show="movie.showFullInfo">

                    <div class="col-md-3">
                        <div class="content-wrapper">
                            <a href="" class="img-wrapper" ng-click="rearrangeMovieToPartInfo($index)">
                                <img class="img-movie-gallery" check-image ng-src="{{movie.poster}}"
                                     alt="Image for {{movie.title}}">
                            </a>

                            <h4 class="movie-caption-full">{{movie.title}}</h4>

                            <div class="ratings">
                                <ranking-stars
                                        ng-model="movie.averageRating"
                                        ng-click="setRating(movie, movie.averageRating)"
                                        read-only="!isMovieRateable(movie)"
                                        on-leave="ratingLeaved(movie)">
                                </ranking-stars>
                                <div>
                                    <button class="btn btn-default btn-lg btn-watched" ng-click="setWatched(movie)"
                                            ng-model="movie.hasWatched" uib-btn-checkbox>
                                        <span class="glyphicon glyphicon-camera"></span>
                                    </button>
                                    <span class="badge badge-notify">{{movie.usersWatched}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-9">
                        <div>
                            <a class="pull-absolute-right" title="Close">
                                <i ng-click="rearrangeMovieToPartInfo($index)"
                                   class="glyphicon glyphicon-remove"></i>
                            </a>
                            <div class="">Plot</div>
                            <p class="text-justify">{{movie.plot}}</p>
                        </div>
                        <div class="row">
                            <div class="col-sm-1">Year</div>
                            <p class="col-sm-2">{{movie.year}}</p>
                            <div class="col-sm-1">Runtime</div>
                            <p class="col-sm-2">{{movie.runtime}}</p>
                            <div class="col-sm-1">Country</div>
                            <p class="col-sm-2">{{movie.country.join(', ')}}</p>
                            <div class="col-sm-1">Genres</div>
                            <p class="col-sm-2">{{movie.genres.join(', ')}}</p>
                        </div>
                        <div class="row">
                            <div class="col-sm-1">Directors</div>
                            <p class="col-sm-3">{{movie.directors.join(', ')}}</p>
                            <div class="col-sm-1">Writers</div>
                            <p class="col-sm-3">{{movie.writers.join(', ')}}</p>
                            <div class="col-sm-1">Actors</div>
                            <p class="col-sm-3">{{movie.actors.join(', ')}}</p>
                        </div>
                        <div class="row">
                            <a href="" class="pull-right" title="Edit">
                                <i ng-click="update(movie)"
                                   class="glyphicon glyphicon-edit"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3" ng-show="!movie.showFullInfo">
                    <div class="content-wrapper">
                        <!--<a href="" class="img-wrapper" ng-click="update(movie)">-->
                        <a href="" class="img-wrapper" ng-click="rearrangeMovieToFullInfo($index)">
                            <img class="img-movie-gallery" check-image ng-src="{{movie.poster}}"
                                 alt="Image for {{movie.title}}">
                        </a>

                        <h4 class="movie-caption">{{movie.title}}</h4>

                        <div class="ratings">
                            <ranking-stars
                                    ng-model="movie.averageRating"
                                    ng-click="setRating(movie, movie.averageRating)"
                                    read-only="!isMovieRateable(movie)"
                                    on-leave="ratingLeaved(movie)">
                            </ranking-stars>
                            <div>
                                <button class="btn btn-default btn-lg btn-watched" ng-click="setWatched(movie)"
                                        ng-model="movie.hasWatched" uib-btn-checkbox>
                                    <span class="glyphicon glyphicon-camera"></span>
                                </button>
                                <span class="badge badge-notify">{{movie.usersWatched}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <ul class="pager" uib-pagination
                    boundary-link-numbers="true"
                    max-size="5"
                    total-items="totalItems"
                    ng-model="currentPage"
                    ng-change="pageChanged(currentPage)"></ul>
            </div>
        </div>
    </div>
</section>