<form name="form" ng-submit="register(vm)" role="form" ng-show="whileRegistering">
    <div class="modal-header">
        <h3 class="modal-title">Register</h3>
    </div>
    <div class="modal-body">
        <div class="alert alert-danger" ng-show="error.show">
            <strong>Watch Out!</strong> {{error.message}}
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required}">
            <label for="email">E-Mail</label>
            <input type="text" name="email" id="email" class="form-control" ng-model="vm.email" required
                   placeholder="toxie@trashbay.org"/>
            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">EMail is required</span>
        </div>
        <div class="form-group">
            <label for="email">Username</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="vm.username"
                   placeholder="toxieNotNoxie (optional)"/>
        </div>
        <div class="form-group">
            <label for="email">Firstname</label>
            <input type="text" name="firstname" id="firstname" class="form-control" ng-model="vm.firstname"
                   placeholder="toxic (optional)"/>
        </div>
        <div class="form-group">
            <label for="email">Lastname</label>
            <input type="text" name="lastname" id="lastname" class="form-control" ng-model="vm.lastname"
                   placeholder="avenger (optional)"/>
        </div>
        <div class="form-group has-feedback" ng-class="{
                'has-error': form.password.$dirty && !form.confirmPassword.$valid,
                'has-success': form.password.$valid && form.confirmPassword.$valid }">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="vm.password" required
                   placeholder="hehe... secrets I won't show you"/>
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
            <span class="form-control-feedback" ng-show='form.password.$valid && form.confirmPassword.$valid'>
            <i class="fa fa-check"></i>
        </span>
        </div>
        <div class="form-group has-feedback" ng-class="{
                'has-error': form.password.$dirty && !form.confirmPassword.$valid,
                'has-success': form.password.$valid && form.confirmPassword.$valid }">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" name="confirmPassword" id="confirmPassword" class="form-control"
                   ng-model="vm.confirmPassword" required password-input="password"
                   placeholder="hehe... secrets I won't show you... never!">
            <span class="form-control-feedback" ng-show='form.confirmPassword.$valid'>
                <i class="fa fa-check"></i>
            </span>
            <span ng-show="form.confirmPassword.$dirty && !form.confirmPassword.$valid" class="help-block">Please confirm the password</span>
        </div>
    </div>
    <div class="modal-footer">
        <span ng-show="dataLoading">
            <i class="fa fa-spinner fa-spin fa-2x text-primary"></i>
        </span>
        <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Register</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</form>

<form name="form" ng-submit="confirm()" role="form" ng-show="!whileRegistering">
    <div class="modal-body">
        <img class="img-confirm-register" src="img/confirmation/toxie-confirm-register.png">
        <h3 class="text-center">Toxie will confirm it as soon as possible!</h3>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Alright</button>
    </div>
</form>