<form name="form" ng-submit="login(vm)" role="form">
    <div class="modal-header">
        <h3 class="modal-title">Register</h3>
    </div>
    <div class="modal-body">
        <div class="alert alert-danger" ng-show="error.show">
            <strong>Watch Out!</strong> {{error.message}}
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required}">
            <label for="email">E-Mail</label>
            <input type="text" name="email" id="email" class="form-control" ng-model="vm.email" required/>
            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">EMail is required</span>
        </div>
        <div class="form-group has-feedback" ng-class="{
                'has-error': form.password.$dirty && !form.confirmPassword.$valid,
                'has-success': form.password.$valid && form.confirmPassword.$valid }">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="vm.password" required/>
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
            <span class="form-control-feedback" ng-show='form.password.$valid && form.confirmPassword.$valid'>
                <i class="fa fa-check"></i>
            </span>
        </div>
        <div class="form-group has-feedback" ng-class="{
                'has-error': form.password.$dirty && !form.confirmPassword.$valid,
                'has-success': form.password.$valid && form.confirmPassword.$valid }">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" name="confirmPassword" id="confirmPassword" class="form-control"
                   ng-model="vm.confirmPassword" required password-input="password">
            <span class="form-control-feedback" ng-show='form.confirmPassword.$valid'>
                <i class="fa fa-check"></i>
            </span>
            <span ng-show="form.confirmPassword.$dirty && !form.confirmPassword.$valid" class="help-block">Please confirm the password</span>
        </div>
    </div>
    <div class="modal-footer">
        <span ng-show="dataLoading">
            <i class="fa fa-spinner fa-spin fa-2x text-primary"></i>
        </span>
        <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Register</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</form>