<section id="updatemovie" ng-init="init()">
    <div class="container">
        <form name="movieForm" class="row form-horizontal" ng-submit="save(movie)">

            <div class="form-group">
                <div class="col-sm-12">
                    <div class="pull-right">
                        <button type="button" class="btn btn-link" ng-show="!whileEditing" title="edit">
                            <i ng-click="whileEditing = true" class="glyphicon glyphicon-edit"></i>
                        </button>
                        <button type="button" class="btn btn-link" ng-show="whileEditing" title="cancel">
                            <i ng-click="whileEditing = false" class="glyphicon glyphicon-remove"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-3 text-center">
                <div class="img-wrapper">
                    <img class="img-movie-gallery"
                         check-image
                         ng-src="{{movie.poster}}"
                         alt="Image for {{movie.title}}"
                         ng-show="!whileEditing">
                    <editable-image class="img-movie-gallery"
                                    ng-model="movie.poster"
                                    alt="Image for {{movie.title}}"
                                    placeholder="insert the poster-url"
                                    ng-show="whileEditing">
                    </editable-image>
                </div>
                <div class="ratings">
                    <ranking-stars
                            ng-model="movie.averageRating"
                            ng-click="setRating(movie, movie.averageRating)"
                            read-only="!isMovieRateable(movie)">
                    </ranking-stars>
                    <div>
                        <button type="button" class="btn btn-default btn-lg btn-watched" ng-click="setWatched(movie)"
                                ng-model="movie.ownWatched.value" uib-btn-checkbox>
                            <span class="glyphicon glyphicon-camera"></span>
                        </button>
                        <span class="badge badge-notify">{{movie.userWatched.length + movie.ownWatched.value}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-9">

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="title">title</label>
                    <span class="col-sm-10 input-label" ng-show="!whileEditing">{{movie.title}}</span>
                    <div class="col-sm-10" ng-show="whileEditing">
                        <p class="input-group">
                            <input class="form-control" id="title" placeholder="add the title"
                                   type="text" ng-model="movie.title" required/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-danger" ng-click="delete(movie)"><i
                                        class="glyphicon glyphicon-trash"></i></button>
                            </span>
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="plot">plot</label>
                    <span class="col-sm-10 input-label" ng-show="!whileEditing">{{movie.plot}}</span>
                    <div class="col-sm-10" ng-show="whileEditing">
                        <textarea class="form-control vresize" rows="3" id="plot" placeholder="add some plot"
                                  ng-model="movie.plot"></textarea>
                    </div>
                </div>

                <div class="form-group">

                    <label class="col-sm-2 control-label" for="year">year</label>
                    <span class="col-sm-2 input-label" ng-show="!whileEditing">{{movie.year | date:'yyyy'}}</span>
                    <div class="col-sm-2" ng-show="whileEditing">
                        <year-input id="year" placeholder="add the year" ng-model="movie.year"></year-input>
                    </div>

                    <label class="col-sm-1 control-label" for="runtime">runtime</label>
                    <span class="col-sm-3 input-label" ng-show="!whileEditing">{{movie.runtime}} min</span>
                    <div class="col-sm-3" ng-show="whileEditing">
                        <number-input id="runtime" ng-model="movie.runtime"
                                      placeholder="add the runtime"
                                      min="1" max="1000"
                                      step="1"></number-input>
                    </div>

                    <label class="col-sm-1 control-label" for="country">country</label>
                    <span class="col-sm-3 input-label" ng-show="!whileEditing">{{movie.country}}</span>
                    <div class="col-sm-3" ng-show="whileEditing">
                        <input class="form-control" type="text" id="country" placeholder="add the country"
                               ng-model="movie.country">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="languages">languages</label>
                    <div class="col-sm-10 tag-wrapper" ng-show="!whileEditing">
                        <span class="tag label label-default"
                              ng-repeat="language in movie.languages">{{language}}</span>
                    </div>
                    <div class="col-sm-10" ng-show="whileEditing">
                        <tag-input id="languages" placeholder="add the different languages"
                                   ng-model="movie.languages"></tag-input>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="genres">genres</label>
                    <div class="col-sm-10 tag-wrapper" ng-show="!whileEditing">
                        <span class="tag label label-default"
                              ng-repeat="genre in movie.genres">{{genre}}</span>
                    </div>
                    <div class="col-sm-10" ng-show="whileEditing">
                        <tag-input id="genres" placeholder="add the different genres"
                                   ng-model="movie.genres"></tag-input>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="genres">directors</label>
                    <div class="col-sm-10 tag-wrapper" ng-show="!whileEditing">
                        <span class="tag label label-default"
                              ng-repeat="director in movie.directors">{{director}}</span>
                    </div>
                    <div class="col-sm-10" ng-show="whileEditing">
                        <tag-input id="directors" placeholder="add the different directors"
                                   ng-model="movie.directors"></tag-input>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="genres">writers</label>
                    <div class="col-sm-10 tag-wrapper" ng-show="!whileEditing">
                        <span class="tag label label-default"
                              ng-repeat="writer in movie.writers">{{writer}}</span>
                    </div>
                    <div class="col-sm-10" ng-show="whileEditing">
                        <tag-input id="writers" placeholder="add the different writers"
                                   ng-model="movie.writers"></tag-input>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="actors">actors</label>
                    <div class="col-sm-10 tag-wrapper" ng-show="!whileEditing">
                        <span class="tag label label-default"
                              ng-repeat="actor in movie.actors">{{actor}}</span>
                    </div>
                    <div class="col-sm-10" ng-show="whileEditing">
                        <tag-input id="actors" placeholder="add the different actors"
                                   ng-model="movie.actors"></tag-input>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="tags">tags</label>
                    <div class="col-sm-10 tag-wrapper" ng-show="!whileEditing">
                        <span class="tag label label-default"
                              ng-repeat="tag in movie.tags">{{tag}}</span>
                    </div>
                    <div class="col-sm-10" ng-show="whileEditing">
                        <tag-input id="tags" placeholder="add the different tags"
                                   ng-model="movie.tags"></tag-input>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-link" ng-show="whileEditing" title="save"
                                ng-disabled="movieForm.$invalid || !movieForm.$dirty">
                            <span>save </span>
                            <i class="glyphicon glyphicon-ok"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>