<section id="updatemovie" ng-init="init()">
    <div class="container">
        <form name="movieForm" class="row form-horizontal">

            <div class="form-group">
                <div class="col-sm-12">
                    <div class="pull-right">
                        <button type="button" class="btn btn-link" ng-show="!whileEditing" title="edit">
                            <i ng-click="whileEditing = true" class="glyphicon glyphicon-edit"></i>
                        </button>
                        <button type="button" class="btn btn-link" ng-show="whileEditing" title="cancel">
                            <i ng-click="whileEditing = false" class="glyphicon glyphicon-remove"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-3 text-center"
                 ng-mouseenter="showOwnRating = true"
                 ng-mouseleave="showOwnRating = false">
                <div class="img-wrapper">
                    <img class="img-movie-gallery"
                         check-image
                         ng-src="{{movie.poster}}"
                         alt="Image for {{movie.title}}"
                         ng-show="!whileEditing">
                    <editable-image class="img-movie-gallery"
                                    ng-model="movie.poster"
                                    alt="Image for {{movie.title}}"
                                    placeholder="insert the poster-url"
                                    ng-show="whileEditing">
                    </editable-image>
                </div>
                <div class="ratings">
                    <div ng-show="!showOwnRating">
                        <ranking-stars class="average-rating"
                                       ng-model="movie.averageRating"
                                       read-only="true">
                        </ranking-stars>
                    </div>
                    <div ng-show="showOwnRating">
                        <ranking-stars class="own-rating"
                                       ng-model="movie.ownRating.value"
                                       read-only="!movie.isRateable()"
                                       ng-click="setRating(movie, movie.ownRating.value)">
                        </ranking-stars>
                    </div>
                    <div>
                        <button type="button" class="btn btn-default btn-lg btn-watched" ng-click="setWatched(movie)"
                                ng-model="movie.ownWatched.value" uib-btn-checkbox>
                            <span class="glyphicon glyphicon-camera"></span>
                        </button>
                        <span class="badge badge-notify">{{movie.userWatched.length + movie.ownWatched.value}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-9">

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="title">title</label>
                    <span class="col-sm-10 input-label" ng-show="!whileEditing">{{movie.title}}</span>
                    <div class="col-sm-10" ng-show="whileEditing">
                        <p class="input-group">
                            <input class="form-control" id="title" placeholder="add the title"
                                   type="text" ng-model="movie.title" required/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-danger" ng-click="delete(movie)"><i
                                        class="glyphicon glyphicon-trash"></i></button>
                            </span>
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="titleAlias">alias</label>
                    <div class="col-sm-10 tag-wrapper" ng-show="!whileEditing">
                        <span class="tag label label-default"
                              ng-repeat="alias in movie.titleAlias">{{alias}}</span>
                    </div>
                    <div class="col-sm-10" ng-show="whileEditing">
                        <tag-input id="titleAlias" placeholder="add different alias"
                                   ng-model="movie.titleAlias"></tag-input>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="plot">plot</label>
                    <span class="col-sm-10 input-label" ng-show="!whileEditing">{{movie.plot}}</span>
                    <div class="col-sm-10" ng-show="whileEditing">
                        <textarea class="form-control vresize" rows="3" id="plot" placeholder="add some plot"
                                  ng-model="movie.plot"></textarea>
                    </div>
                </div>

                <div class="form-group">

                    <label class="col-sm-2 control-label" for="year">year</label>
                    <span class="col-sm-2 input-label" ng-show="!whileEditing">{{movie.year | date:'yyyy'}}</span>
                    <div class="col-sm-2" ng-show="whileEditing">
                        <year-input id="year" placeholder="add the year" ng-model="movie.year"></year-input>
                    </div>

                    <label class="col-sm-1 control-label" for="runtime">runtime</label>
                    <span class="col-sm-3 input-label" ng-show="!whileEditing">{{movie.runtime}} min</span>
                    <div class="col-sm-3" ng-show="whileEditing">
                        <number-input id="runtime" ng-model="movie.runtime"
                                      placeholder="add the runtime"
                                      min="1" max="1000"
                                      step="1"></number-input>
                    </div>

                    <label class="col-sm-1 control-label" for="country">country</label>
                    <span class="col-sm-3 input-label" ng-show="!whileEditing">{{movie.country}}</span>
                    <div class="col-sm-3" ng-show="whileEditing">
                        <input class="form-control" type="text" id="country" placeholder="add the country"
                               ng-model="movie.country">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="languages">languages</label>
                    <div class="col-sm-10 tag-wrapper" ng-show="!whileEditing">
                        <span class="tag label label-default"
                              ng-repeat="language in movie.languages">{{language}}</span>
                    </div>
                    <div class="col-sm-10" ng-show="whileEditing">
                        <tag-input id="languages" placeholder="add the different languages"
                                   ng-model="movie.languages"></tag-input>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="genres">genres</label>
                    <div class="col-sm-10 tag-wrapper" ng-show="!whileEditing">
                        <span class="tag label label-default"
                              ng-repeat="genre in movie.genres">{{genre}}</span>
                    </div>
                    <div class="col-sm-10" ng-show="whileEditing">
                        <tag-input id="genres" placeholder="add the different genres"
                                   ng-model="movie.genres"></tag-input>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="genres">directors</label>
                    <div class="col-sm-10 tag-wrapper" ng-show="!whileEditing">
                        <span class="tag label label-default"
                              ng-repeat="director in movie.directors">{{director}}</span>
                    </div>
                    <div class="col-sm-10" ng-show="whileEditing">
                        <tag-input id="directors" placeholder="add the different directors"
                                   ng-model="movie.directors"></tag-input>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="genres">writers</label>
                    <div class="col-sm-10 tag-wrapper" ng-show="!whileEditing">
                        <span class="tag label label-default"
                              ng-repeat="writer in movie.writers">{{writer}}</span>
                    </div>
                    <div class="col-sm-10" ng-show="whileEditing">
                        <tag-input id="writers" placeholder="add the different writers"
                                   ng-model="movie.writers"></tag-input>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="actors">actors</label>
                    <div class="col-sm-10 tag-wrapper" ng-show="!whileEditing">
                        <span class="tag label label-default"
                              ng-repeat="actor in movie.actors">{{actor}}</span>
                    </div>
                    <div class="col-sm-10" ng-show="whileEditing">
                        <tag-input id="actors" placeholder="add the different actors"
                                   ng-model="movie.actors"></tag-input>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="tags">tags</label>
                    <div class="col-sm-10 tag-wrapper" ng-show="!whileEditing">
                        <span class="tag label label-default"
                              ng-repeat="tag in movie.tags">{{tag}}</span>
                    </div>
                    <div class="col-sm-10" ng-show="whileEditing">
                        <tag-input id="tags" placeholder="add the different tags"
                                   ng-model="movie.tags"></tag-input>
                    </div>
                </div>

                <div class="form-group comments">
                    <div class="col-sm-offset-2 col-sm-10">
                        <h4>
                            comments
                            <small class="pull-right">{{movie.userComments.length}} comments</small>
                        </h4>
                        <div class="col-xs-12 comment" ng-repeat="comment in movie.userComments">
                            <div class="comment-heading">
                                <h4 class="col-sm-4">{{UiUtil.userToString(comment.user)}}</h4>
                                <div class="col-sm-8">
                                    <div class="pull-right" ng-show="movie.isCommentDeletable(comment)">
                                        <small>{{comment.date | timeAgo}}</small>
                                        <button type="button" class="btn btn-link"
                                                ng-click="deleteComment(movie, comment)"
                                                title="delete comment">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-text">
                                <p class="col-sm-12">{{comment.text}}</p>
                            </div>
                        </div>

                        <div class="col-xs-12 media">
                            <form name="commentForm" ng-submit="postComment(movie, movie.currentComment)"
                                  class="media-body">
                                        <textarea class="form-control vresize" rows="3"
                                                  placeholder="leave a comment"
                                                  ng-enter="postComment(movie, movie.currentComment)"
                                                  ng-model="movie.currentComment"></textarea>
                                <div class="pull-right">
                                    <button type="button" class="btn btn-link btn-comment"
                                            ng-disabled="!movie.currentComment"
                                            title="post comment">
                                        <span>post </span>
                                        <i class="glyphicon glyphicon-ok"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <div class="pull-right">
                        <button type="button" class="btn btn-link" title="back" ng-click="goBack()">
                            <span>back </span>
                            <i class="glyphicon glyphicon-remove"></i>
                        </button>
                        <button type="button" class="btn btn-link"
                                ng-show="whileEditing" title="save"
                                ng-click="save(movie)"
                                ng-disabled="movieForm.$invalid || !movieForm.$dirty">
                            <span>save </span>
                            <i class="glyphicon glyphicon-ok"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>