<div class="container" ng-init="init()">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">
                Inaktive Users
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <table ng-table="tableParams" class="table form-group" show-filter="false">
                <tr ng-repeat="user in $data" ng-form="userForm[$index]"
                    ng-init="userForm[$index].whileEditing = false"
                    ng-class="{'active': userForm[$index].whileEditing}">
                    <!-- Data -->
                    <td class="col-md-4" title="'mail'"
                        sortable="'email'">
                        <span ng-if="!userForm[$index].whileLoading">{{user.email}}</span>
                    </td>
                    <td class="col-md-4" title="'username'" sortable="'username'">
                        <span ng-if="!userForm[$index].whileLoading">{{user.username}}</span>
                        <span ng-if="userForm[$index].whileLoading"
                              class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                    </td>
                    <!-- End Data -->
                    <td class="col-md-4">
                        <span class="pull-right">
                            <a class="icon-links" ng-if="userForm[$index].whileEditing" href="" title="acivate"
                               ng-click="activate(user, userForm[$index])">
                            activate
                            </a>
                            <a class="icon-links" ng-if="userForm[$index].whileEditing" href="" title="delete"
                               ng-click="deleteUser(user, $data, $index, userForm[$index])">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                            <a class="icon-links" ng-if="userForm[$index].whileEditing" href="" title="cancel">
                                <i ng-click="userForm[$index].whileEditing = false"
                                   class="glyphicon glyphicon-remove"></i>
                            </a>
                            <a class="icon-links" ng-if="!userForm[$index].whileEditing" href="" title="edit">
                                <i ng-click="userForm[$index].whileEditing = true" class="glyphicon glyphicon-edit"></i>
                            </a>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>