<form name="form" ng-submit="save(note)" role="form">
    <div class="modal-body">

        <span ng-show="error.show" class="help-block">{{error.message}}</span>

        <div class="form-group" ng-class="{ 'has-error': form.text.$dirty && form.text.$error.required }">
            <div contenteditable class="content-editable-div" placeholder="note-text" ng-model="note.text" required focus="true">{{note.text}}</div>
            <span ng-show="form.text.$dirty && form.text.$error.required" class="help-block">Text is required</span>
        </div>

        <div class="separator"> URLs </div>

        <div class="form-group" ng-repeat="url in note.urls track by $index">
            <div class="col-md-12 note-url-cols">
                <button type="button" class="btn-link right-margin" ng-click="deleteNoteUrl(note, $index)"><i class="fa fa-times"></i></button>
                <div class="note-url-text"><img class="note-url-icon" ng-src="{{getFaviconUrlForUrl(url, faviconSize)}}"> {{url}}</div>
            </div>
        </div>
        <br>
        <div class="form-group has-feedback has-feedback-left">
            <input type="text" class="form-control" placeholder="note-url" ng-model="note.newUrl" ng-required="note.urls.length == 0">
            <img class="note-url-input-icon form-control-feedback" ng-src="{{getFaviconUrlForUrl(note.newUrl, faviconSize)}}">
        </div>

        <div class="form-group clearfix">
            <button type="button" class="btn btn-primary btn-xs pull-right" ng-disabled="form.$invalid || dataLoading" ng-click="addMoreUrls(note)"><i class="fa fa-plus"> Add More</i></button>
        </div>

        <div class="separator"> Category </div>

        <div class="form-group">
            <input type="text" ng-model="note.category" placeholder="category" uib-typeahead="category for category in getCategories($viewValue)" class="form-control">
        </div>

    </div>

    <div class="modal-footer">
        <i ng-if="dataLoading"class="fa fa-spinner fa-spin fa-2x text-primary"></i>
        <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary">Save</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</form>